<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>长文章</title>
    <script type="text/javascript" src="./public/js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style type="text/css" media="screen">
        body {
          background-color: #050d19;
        }
        .longcontent_box{
            margin: 20px auto;
            width:1000px;
        }
        .longcontent_box input{
            margin-top:10px;
        }
    </style>
</head>
<body>
    <div class="longcontent_box">
        <form action="" method="">
            <script id="container" name="content" type="text/plain"></script>
            <input type="submit" value="发布" class="btn btn-info pull-right">
        </form>
    </div>
    <script type="text/javascript" src="public/libarary/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" src="public/libarary/ueditor/ueditor.all.min.js"></script>
    <script type="text/javascript">
        var ue = UE.getEditor('container');
    </script>
    <script type="text/javascript">
        $('.longcontent_box input[type=submit]').click(function(event) {
            if (localStorage.getItem('uid') > 0) {
                $.ajax({
                    url: "longcontent_enter.php",
                    type: "POST",
                    data: {
                        weibo_content: ue.getContent(),
                        action: 'save',
                        user_id: localStorage.getItem('uid')
                    },
                    success: function(data) {
                        if (data == 1) {
                            alert('发布成功');
                            location.href = 'weibo_enter';
                        } else {
                            alert('发布成功');
                        }
                    }
                });
            } else {
                alert('非法访问页面，请先登陆');
                location.href = 'weibo_enter';
            }
            return false;
        });
    </script>
</body>
</html>