<div class="row">
	<span>用户名：</span>
	<input type="text" name="nickname" class="form-control text" value="{$item.user_name}" />
</div>
<div class="row">
	<span>新密码：</span>
	<input type="password" name="pwd" class="form-control text" />
</div>
<div class="row">
	<span>确认密码：</span>
	<input type="password" name="pwd" class="form-control text" />
</div>
<div class="row">
	<span>个人简介：</span>
	<textarea name="info" class="form-control text"></textarea>
</div>
<div class="row">
	<span></span>
	<input type="submit" value="修改" class="btn btn-success button" />
</div>