<li weibo-id="{$weibo_data.id}" class="animated slideInDown">
    <div class="row">
        <div class="col-lg-2" style="text-align: center;">
            <img src="{$user_data.user_pic}" alt="" class="w_img">
            <p>{$user_data.user_nickname}</p>
            <div class="info-box">
                <div class="arrow-left"></div>
                <a class="author-name">{$user_data.user_nickname}最近发布过的3条微博</a>

            </div>
        </div>
        <div class="col-lg-10 content_box">
            <div class="triangle_border_ne"></div>
            <div class="content">
                {if $weibo_data.type == 'short_content'}
                    {$weibo_data.weibo_content}
                {elseif $weibo_data.type == 'pic_text'}
                    <img src="{$weibo_data.pic}" alt="" class="w-img">
                    {$weibo_data.weibo_content}
                {elseif $weibo_data.type == 'music'}
                    <audio src="{$weibo_data.music}" controls></audio>
                {elseif $weibo_data.type == 'vedio'}
                    <video src="{$weibo_data.video}" controls="controls"></video>
                {elseif $weibo_data.type == 'long_content'}
                    {$weibo_data.weibo_content}
                {/if}
            </div>
            <div class="w-opt clearfix">
                <div class="optb pull-right">
                    <span style="color: #55a4a9;">{date('Y-m-d H:i:s', $weibo_data.create_time)}</span>
                    {if $user_data.id == $smarty.session.uid}
                        <a href="#modal_box" data-toggle="modal" class="delete_weibo">删除</a>
                    {/if}
                    <a href="" class="commet_btn">评论(0)</a>
                    {if $user_data.id == $smarty.session.uid}
                        <a href="#edit_weibo_modal" class="edit_weibo" data-toggle="modal">编辑</a>
                    {/if}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 col-lg-offset-2 commont_box">
            <div class="row commet">
                <div class="col-lg-10">
                    <input type="text" name="commet_content" class="form-control">
                </div>
                <div class="col-lg-2">
                    <input type="button" class="btn btn-info commet_send" value="发布">
                </div>
            </div>
            <ul class="commont_list">
            </ul>
        </div>
    </div>
</li>